@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}